{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>我的购物车_我买网</title>
    <script src="{% static 'js/jquery-1.12.3.js' %}" type="text/javascript" charset="utf-8"></script>
{#    <script src="{% static 'js/jquery.cookie.js' %}" type="text/javascript" charset="utf-8"></script>#}
    <script src="{% static 'js/cart.js' %}" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/cart-css/cart.css' %}"/>
</head>
<body>
<div class="cart-content">

    {% if name %}
        <div class="header">
            <div class="w">
                <ul class="nav-r">
                    <li class="mycount-wrap">
                        <a href="#">我的账户</a>
                        <i></i>
                        <div class="mycount">
                            <dl class="count-l">
                                <dt>您已登录</dt>
                                <dd class="nopay"><a href="{% url 'wm:ordelist' 0 %}"> 待付款订单</a><i></i></dd>
                                <dd><a href="{% url 'wm:ordelist' 1 %}"> 待签收订单</a></dd>
                                <dd><a href="#"> 支付卡账户</a></dd>
                                <dd><a href="#"> 优惠券/团购卡</a></dd>
                                <dd><a href="#"> 电子礼品卡</a></dd>
                            </dl>
                            <dl class="count-r">
                                <dt><span><a class="log" href="#">退出</a></span></dt>
                                <dd class="mymsg"><a href="#"> 我的消息</a><i></i></dd>
                                <dd><a href="#"> 我的订单</a></dd>
                                <dd><a href="#"> 我的积分</a></dd>
                                <dd><a href="#"> 我的收藏</a></dd>
                            </dl>
                        </div>
                    </li>
                </ul>
                <ul class="top-login">
                    <li class="none"><span>qzuser，<a class="log" href="#">已登录</a></span></li>
                </ul>
            </div>
        </div>

    {% else %}
        <div class="header">
            <div class="w">
                <ul class="nav-r">
                    <li class="mycount-wrap">
                        <a href="#">我的账户</a>
                        <i></i>
                        <div class="mycount">
                            <dl class="count-l">
                                <dt>您还没有登录</dt>
                                <dd class="nopay"><a href="#"> 待付款订单</a><i></i></dd>
                                <dd><a href="#"> 待签收订单</a></dd>
                                <dd><a href="#"> 支付卡账户</a></dd>
                                <dd><a href="#"> 优惠券/团购卡</a></dd>
                                <dd><a href="#"> 电子礼品卡</a></dd>
                            </dl>
                            <dl class="count-r">
                                <dt><span><a class="log" href="#">登录</a></span></dt>
                                <dd class="mymsg"><a href="#"> 我的消息</a><i></i></dd>
                                <dd><a href="#"> 我的订单</a></dd>
                                <dd><a href="#"> 我的积分</a></dd>
                                <dd><a href="#"> 我的收藏</a></dd>
                            </dl>
                        </div>
                    </li>
                </ul>
                <ul class="top-login">
                    <li class="none"><span>qzuser，<a class="log" href="#">请登录</a></span></li>
                    <li class="none">|<a class="reg" style="margin-left: 14px;" href="#">免费注册</a></li>
                </ul>
            </div>
        </div>
    {% endif %}

    <div class="header-box w">
        <div class="logo">
            <a href="#"><img src="{% static 'img/registerimg/logo.jpg' %}"/></a>
        </div>
        <ul class="step">
            <li></li>
        </ul>
    </div>
    <div class="w">

        <h3 id="carth">我的购物车</h3>
        {% for cart in carts %}
            <div class="goods">

                <img src="{% static  cart.goods.headImg %}">
                <div>
                    <p class="top">名称:{{ cart.goods.name }}</p>
                    <div>
                        数量:x
                        <span class="bottom" goodid={{ cart.goods.id }}>
                        {{ cart.number }}
                        </span>

                        <font>价格:</font>
                        <i class="goodprice">
                        {{ cart.goods.price }}
                        </i>
                    </div>

                    <span class="add">增加</span>
                    <span class="cut">减少</span>
                    <span class="del">删除</span>
                    <span class="isselect" cartid={{ cart.id }}>
                        <div class="goodsbox ok" cartisselect={{ cart.isselect }}>

                        </div>
                    </span>

                </div>
            </div>


        {% empty %}
            <div class="cart-empty">
                <h2>您的购物车中没有商品，赶快行动吧！</h2>
                <p>去<a class="ind" href="#">首页</a>挑选喜爱的商品，或<a class="log" href="#">登录</a>访问收藏的商品。</p>
            </div>
        {% endfor %}

        <div class="order">
            <span class="allselect">全选</span>
            <font>价格:</font>
            <i></i>
            <span class="success">下单</span>
        </div>
    </div>
</div>
<div class="feeter w">
    <div class="beian">
        <p>
            <a href="#"><img src="{% static 'img/registerimg/beian.png' %}"/>京公网安备 11010102000458号</a>
            <span>|</span>
            京ICP备 13003995号
            <span>|</span>
            营业执照（统一社会信用代码）91110000055590239L
            <span>|</span>
            食品经营许可证：JY11105020028185
        </p>
        <p class="bottom">Copyright©2009-2017 womai.com.hk 版权所有</p>
    </div>
</div>
</body>
</html>
