{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>会员登录_我买网</title>
    <script src="{% static 'js/jquery-1.12.3.js' %}" type="text/javascript" charset="utf-8"></script>
{#    <script src="{% static 'js/jquery.cookie.js' %}" type="text/javascript" charset="utf-8"></script>#}
    <script src="{% static 'js/login.js' %}" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/Login-css/Login.css' %}"/>
</head>
<body>
<div class="content-wrap">
    <div class="header">
        <div class="header-logo">
            <a href="#"><img src="{% static 'img/registerimg/logo.jpg' %}"/></a>
        </div>
        <div class="line">
        </div>
    </div>
    <!--			头部结束-->
    <div class="main">
        <div class="main-bg">
            <a href="#"><img src="{% static 'img/Loginimg/bgimg.jpg' %}"/></a>
        </div>
        <div class="login-wrap">
            <div class="login-outside">
                <div class="login-inside">
                    <h3>请登录中粮我买网</h3>
                    <form id="login" action="{% url 'wm:login' %}" method="post">
                        {% csrf_token %}
                        <div class="long-input">
                            <input type="text" name="phonenum" placeholder="手机号<11位数字>"/>
                            <span id="phonenum" class="sp"></span>
                        </div>

                        <div class="long-input">
                            <input type="password" name="password" maxlength="20" minlength="6"
                                   placeholder="密码<6到20位字母,数字或下划线组成"/>
                            <span id="password" class="sp"></span>
                        </div>
                        <div class="refer-btn">
                            <div id="btn">登录</div>
                            <a href="{% url 'wm:register' %}">注册</a>
                            <p id="error_p">{{ error }}</p>
                        </div>
                        <div class="friend">
                            <h3>使用合作伙伴账号登录我买网</h3>
                            <ul class="friend-links">
                                <li><em></em><a href="#">QQ</a></li>
                                <li><em></em><a href="#">人人网</a></li>
                                <li><em></em><a href="#">开心网</a></li>
                                <li><em></em><a href="#">支付宝</a></li>
                                <li><em></em><a href="#">新浪微博</a></li>
                                <li><em></em><a href="#">百度</a></li>
                                <li><em></em><a href="#">建行</a></li>
                                <li><em></em><a href="#">什么值得买</a></li>
                                <li><em></em><a href="#">中英人寿</a></li>
                            </ul>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>

</div>
<ul class="feeter">
    <li>
        Copyright©2009-2017 womai.com.hk All Rights Reserved 中粮海优（北京）有限公司版权所有<br/>
        中粮海优（北京）有限公司 北京市朝阳区朝阳门南大街8号18F-09室<br/>
        <p>
            <a href="#"><img src="{% static 'img/registerimg/beian.png' %}"/><b>京公网安备 11010102000458号</b></a>
        </p>
        <span>京ICP备 13003995号 营业执照（统一社会信用代码）91110000055590239L 食品经营许可证（社会信用代码）05559023-9</span>

    </li>
    <li class="color"></li>
</ul>
</body>
</html>




