{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>填写信息_会员注册</title>
    <script src="{% static 'js/jquery-1.12.3.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/jquery.cookie.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/register.js' %}" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/register-css/register.css' %}"/>
</head>
<body>
<div class="content-wrap">
    <div class="header">
        <div class="header-logo">
            <a href="#"><img src="{% static 'img/registerimg/logo.jpg' %}"/></a>
        </div>
        <div class="line">
        </div>
    </div>
    <!--			头部结束-->
    <div class="main-wrap">
        <div class="main">
            <div class="main-out">
                <div class="main-inst">
                    <div class="main-tit">
                        注册我买网
                        <p>已有我买网账号？<a href="{% url 'wm:login' %}">登录</a></p>
                    </div>
                    <div class="main-cont">
                        <form id="register" action="{% url 'wm:register' %}" method="post">
                            {% csrf_token %}
                            <div class="long-input">
                                <input type="text" name="username" maxlength="10" placeholder="用户名<三位到十位字符>"/>
                                <span id="username" class="sp"></span>
                            </div>
                            <div class="long-input">
                                <input type="text" name="phonenum" placeholder="手机号<11位数字>"/>
                                <span id="phonenum" class="sp"></span>
                            </div>
                            <div class="long-input">
                                <input type="password" name="password" maxlength="20" minlength="6"
                                       placeholder="密码<6到20位字母,数字或下划线组成"/>
                                <span id="password" class="sp"></span>
                            </div>
                            <div class="long-input">
                                <input type="text" name="email" placeholder="邮箱"/>
                                <span id="email" class="sp"></span>
                            </div>

                            <div class="refer-btn">
                                <div id="btn">立即注册</div>
                                <span>我有邀请码</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ul class="feeter">
    <li>
        Copyright©2009-2017 womai.com.hk All Rights Reserved 中粮海优（北京）有限公司版权所有<br/>
        中粮海优（北京）有限公司 北京市朝阳区朝阳门南大街8号18F-09室<br/>
        <p>
            <a href="#"><img src="{% static 'img/registerimg/beian.png' %}"/><b>京公网安备 11010102000458号</b></a>
        </p>
        <span>京ICP备 13003995号 营业执照（统一社会信用代码）91110000055590239L 食品经营许可证（社会信用代码）05559023-9</span>

    </li>
    <li class="color"></li>
</ul>
</body>
</html>

