body{
	font: 12px/150% Arial, Tahoma,"宋体";
	color: #606060;
}
a:link{
	color: #606060;
}
a:hover{
	text-decoration: underline;
	color:#8cb91e;
}
.fl{
	float:left;
}
.fr{
	float:right;
}

.cart-content{
	width: 1000px;
	margin: 0 auto;
	background: #fff none repeat scroll 0 0;
}
.header{
	background-position: 0 -50px;
	height: 27px;
	line-height: 27px;
	background-image: url(../../img/cartimg/line01.png);
	background-repeat: repeat-x;
}
.header a{
	color: #606060;
}
.header a:hover{
	color:#8cb91e;
} 
.w{
	width:1000px;
	margin: 0 auto;
}
.w .nav-r{
	float: right;
}
.w .nav-r .mycount-wrap{
	position: relative;
	padding-left: 8px;
	width: 65px;
	z-index: 500;
}
.w .nav-r li{	
	background-position: right -303px;
	float: left;
	padding: 0 8px 0 6px;
}
.w .nav-r li i{
	display: block;
	position: absolute;
	background-position: -57px -48px;
	background-repeat: no-repeat;
	top: 12px;
	right: 10px;
	width: 7px;
	height: 4px;
	font-size: 1px;
}
.w .nav-r .mycount a{
	display: block;
	width: 80px;
}
.w .nav-r .mycount a:hover{
	text-decoration: none;
	color:#fff;
}

.w .nav-r .mycount-wrap .mycount{
	position: absolute;
	display: none;
	top: 27px;
	right: 0;
	padding: 2px 2px;
	width: 221px;
	height: 162px;
	background-color: #fff;
	border: 1px solid #8cb91e;
}
.w .nav-r .mycount-wrap .mycount dd{
	height: 25px;
	line-height: 25px;
}
.w .nav-r .activebg{
	background: #8cb91e;
}
.w .nav-r .mycount-wrap .mycount .count-l{
	float: left;
	width: 126px;
}
.w .nav-r .mycount-wrap .mycount a{
	display: block;
	width: 80px;
}
.w .nav-r .mycount-wrap .mycount a:hover{
	text-decoration: underline;
	color:#8cb91e;
}
.w .nav-r .mycount-wrap .mycount .count-l a{
	padding-right: 5px;
}
.w .nav-r .mycount-wrap .mycount dt{
	margin-bottom: 5px;
	background: #f5f5f5;
}
.w .nav-r .mycount-wrap .mycount .count-l dt{
	padding-left: 15px;
}
.w .nav-r .mycount-wrap .mycount .count-l dd{
	padding-left: 15px;
}
.w .nav-r .mycount-wrap .mycount .nopay{
	position: relative;
}
.w .nav-r .mycount-wrap .mycount .nopay i{
	position: absolute;
	top: -10px;
	right: 35px;
	display: none;
	width: 25px;
	height: 18px;
	text-align: center;
	line-height: 15px;
	font-size: 12px;
	color: #fff;
	font-style: normal;
	background: url(../../img/cartimg/msgicon.png) 0 0;
}
.w .nav-r .mycount-wrap .mycount .count-r{
	background-position: -139px -128px;
	float: right;
	width: 95px;
}
.w .nav-r .mycount-wrap .mycount .count-r dt{
	padding-right: 15px;
}
.w .nav-r .mycount-wrap .mycount .count-r .mymsg{
	position: relative;
}
.w .nav-r .mycount-wrap .mycount .count-r .mymsg i{
	position: absolute;
	top: -10px;
	right: -2px;
	display: none;
	width: 25px;
	height: 18px;
	text-align: center;
	line-height: 15px;
	font-size: 12px;
	color: #fff;
	font-style: normal;
	background: url(../../img/cartimg/msgicon.png) 0 0;
}
.order-nav ul li em{
	font-style: normal;
}
.top-login{
	float: right;
}
.top-login li{
	background-position: right -303px;
	float: left;
	padding: 0 8px 0 6px;
}
.top-login .none{
	background: none;
}
.top-login .none a{
}
.header-box{
	height: 95px;
	margin-top: 10px;
}
.header-box .logo{
	width: 195px;
	height: 90px;
	float: left;
}
.header-box .step{
	float: right;
	margin-top: 26px;
	display: inline;
	overflow: auto;
}
.header-box .step li{
	width: 643px;
	height: 38px;
	background: url(../../img/cartimg/progress.jpg) no-repeat 0 0;
}
.cart-empty{
	height: 120px;
	padding: 70px 0px 0px 410px;
	background: url(../../img/cartimg/emptycart_bg.png) 215px 5px no-repeat;
	text-align: left;
}
.cart-empty h2{
	color: #595757;
	font-family: "Microsoft YaHei";
	font-size: 23px;
	height: 30px;
	line-height: 30px;
	font-weight: normal;
}
.cart-empty p{
	color: #898989;
	padding-top: 10px;
}
.cart-empty p a:nth-child(1){
	color: #e9001c;
}
.cart-empty p a:nth-child(2){
	color: #8cb91e;
}
.cart-empty p a:nth-child(1):hover{
	color: #ff761c;
}
.cart-empty p a:nth-child(2):hover{
	color: #ff761c;
}
.feeter{
	margin-top: 30px;
	margin-bottom: 50px;
}
.feeter .beian{
	display: inline-block;
}
.feeter .beian a{
	color: #606060;
}
.feeter .beian img{
	float:left;
}
.bottom{
	margin-top: 10px;
    color: #999;
}

.trip-div{
	height: 36px;
	margin: 4px 0px 8px;
	padding-bottom: 5px;
	border-bottom: 1px solid #e6e6e6;
}
.trip-div .trip-content {
    height: 36px;
    line-height: 36px;
    float: left;
    color: #898989;
}
.trip-content span {
    float: left;
    height: 36px;
    margin-right: 30px;
    font: 20px "Microsoft YaHei";
    color: #606060;
}
.trip-div a {
    margin-top: 8px;
    color: #666;
}
.service-tit {
	margin-top: 5px;
}
.address-select{
    position: relative;
    z-index: 10;
    margin-top: 2px;
    padding: 0 17px 0 5px;
    height: 24px;
    line-height: 24px;
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}
.address-select s {
    position: absolute;
    top: 10px;
    right: 3px;
    display: block;
    width: 7px;
    height: 4px;
    background: url(../../img/cartimg/cart.png) no-repeat -78px -230px;
}
.shopping-cart .order-nav{
	width: 1000px;
	height: 34px;
	line-height: 34px;
	border-bottom: 2px solid #e6e6e6;
}
.shopping-cart .order-nav ul li{
	position: relative;
	float: left;
	height: 34px;
	padding: 0 25px;
	cursor: pointer;
	color: #7abd54;
	border-bottom: 2px solid #7abd54;
	font-size: 16px;
	font-family: "微软雅黑";
}
.shopping-cart .order-nav ul li strong{
	font-weight: normal;
}
.totalprice-top span{
	font: normal 14px/1.5em "Microsoft YaHei";
	color: #e9001c;
	width:100px;
}
.totalprice-top {
	width: 300px;
}
.totalprice-top span em{
	font-style: normal;
}
.totalprice-top a{
	width: 60px;
	height: 26px;
	background: url(../../img/cartimg/_cart.png) -78px -137px no-repeat;
	cursor: pointer;
}
.order-contents{
	width: 100%;
	margin-top: 15px;
}
.order-titline{
	height: 19px;
	padding: 5px 0px 6px 0px;
}
.od-tit{
	float: left;
	height: 19px;
	text-align: center;
	line-height: 19px;
	color: #3c3c3c;
}
.od_tit_1{
	width:494px;
}
.od_tit_2{
	width:90px;
}
.od_tit_3{
	width:130px;
}
.od_tit_4{
	width:90px;
}
.od_tit_5{
	width:106px;
}
.order-content{
	width: 100%;
	padding-bottom: 20px;
}
.ordercontent{
	width:1000px;
	margin-top: 10px;
}
.ordercontent-titline{
	padding:10px 0 10px 20px;
}
.tit-select{
	width:100px;
}
.tit-select input{
	margin:2px 10px 0 0;
}
.total-mid{
	color:#aaa;
}
.total-mid span{
	margin-left: 15px;
}
.ordercontent-content{
	border: 1px solid #ccc;
	border-top: none;
}
.ordercontent-content .content-type{
	height: auto;
	background: #fcfcfc;
	border-top: 1px solid #ccc;
}
.ct{
	float: left;
	text-align: center;
	color: #3c3c3c;
	height:auto;
}
.content-cont1{
	width: 472px;
	padding: 15px 0 0 20px;
	line-height: 1.8em;
}
.content-cont1 input{
	margin: 20px 5px 0 0;
}
.content-cont1 a{
	width: 62px;
	height: 62px;	
	float: left;	
	margin: 0 15px 0 10px;	
	display: inline;
}
.content-cont1 a img{
	width: 60px;
	height: 60px;
	border: 1px solid #DCDDDD;
}
.content-cont1 .content1-cent{
	width: 330px;
	text-align: left;
}
.content-cont1 .content1-cent a{
	float: none;
	color:#606060
}
.content-cont1 .content1-cent a:hover{
	color:#8cb91e;
}
.content-cont2{
	width: 90px;
	padding-top: 32px;
}
.content-cont3{
	position: relative;
	width: 110px;
	padding: 32px 0 0 20px;
	line-height: 1.8em;
}
.content-cont4{
	width: 90px;
	padding-top: 32px;
	color: #E9001C;
}
.content-cont5{
	width: 106px;
	height: 60px;	
	padding-top: 30px;	
	line-height: 1.8em;
}
.content-cont3 .dec{
	float: left;
	margin-left: 3px;
	display: inline;
	background: url(../../img/cartimg/cart.png) no-repeat -139px -182px;
	cursor: pointer;
	width: 21px;
	height: 21px;
	margin-top: 1px;
}
.content-cont3 .add{
	float: left;
	margin-left: 3px;
	display: inline;
	background: url(../../img/cartimg/cart.png) no-repeat -163px -182px;
	cursor: pointer;
	width: 21px;
	height: 21px;
	margin-top: 1px;
}
.content-cont3 .input_goods{
	width: 36px;
	float: left;	
	margin: 0px 5px;
	display: inline;	
	position: relative;
}
.content-cont3 .input_goods input{
	width: 34px;
	height: 21px;
	line-height: 21px;
	border: #e6e6e6 1px solid;	
	color: #595757;	
	text-align: center;	
	padding: 0px;
}
.content-cont5 a{
	color: #3c3c3c;
}
.content-cont5 a:hover{
	color: #ff961c;
}
.order-amount {
    padding: 0px 15px 0 5px;
}
.ordercent-edit {
    color: #3c3c3c;
    width: 220px;
	height: 60px;
	line-height: 60px;
}
.ordercent-edit .allcheck{
	margin-right: 20px;
}
.ordercent-edit a{
	color: #3c3c3c;
}
.ordercent-edit .allcheck input{
	margin: 20px 5px 0 0;
	float: left;
	color: #595757;
}
label{
	float: left;
	color: #595757;
}
.collect {
    margin-right: 20px;
}
.ordam-right{
	float: right;
	width: 310px;
	margin-top: 18px;	
	font-family: "Microsoft YaHei";
}
.oar-title {
    color: #3c3c3c;
    font-size: 12px;
}
.oar-money {
    width: 110px;
    text-align: right;
    color: #e9001c;
}
.ordam-money{
	margin: 5px 0 0 0;
	padding-left: 134px;
}
.ora-bot{
	border-bottom:1px solid #ccc;
	padding-bottom: 8px;
}
.ordam-total {
    margin-top: 10px;
}
.ordam-total .to-num{
	font-style: normal;
}
.ordam-total .to-num em{
	font-style: normal;
	font-size: 18px;
	color: #e9001c;
}
.ora-tol-money{
	width: 120px;
	text-align: right;
	color: #e9001c;	
	float: right;
	font-size: 18px;
} 
.ora-tol-tit{
	color: #3c3c3c;
	font-size: 12px;
	float: right;
}
.btn-bottom{
	position: relative;
	margin-top:25px;
}
.btn-bottom a{
	width: 170px;
	height: 36px;	
	text-align: center;	
	line-height: 36px;	
	font-size: 16px;	
	color: #fff;	
	background: url(../../img/cartimg/_cart.png) no-repeat 0 0;
	text-decoration: none;
	cursor: pointer;
	float: right;
}
.btn-bottom a:hover{
	background-position: 0 -36px;
}
.full-cart{
	display: none;
}
